extends layout

block content
    br
    .jumbotron
        h1=title
    .row-centered    
        #robotPanel.row
            #gripperAlive.box.col-md-2.spacing
            #armAlive.box.col-md-2.spacing
            .box.col-md-2.spacing
            .box.col-md-2.spacing
            .box.col-md-2.spacing 
        #robotPanel.row
            .box.col-md-2.spacing
            .box.col-md-2.spacing
            .box.col-md-2.spacing
            .box.col-md-2.spacing
            .box.col-md-2.spacing
        #robotPanel.row
            .box.col-md-2.spacing
            .box.col-md-2.spacing
            .box.col-md-2.spacing
            .box.col-md-2.spacing
            .box.col-md-2.spacing
        #robotPanel.row
            .box.col-md-2.spacing
            .box.col-md-2.spacing
            .box.col-md-2.spacing
            .box.col-md-2.spacing
            .box.col-md-2.spacing
        #robotPanel.row
            .box.col-md-5.spacing
            .box.col-md-5.spacing

    script.
        var socket = io();
        socket.on('mqtt', function(msg){
            if(msg.topic == "Gripper/Alive") {
                $('#gripperAlive').text(msg.payload).append('<br><p>Status chwytaka</p>');
            }
            else if(msg.topic == "Arm/Alive") {
                $('#armAlive').text(msg.payload).append('<br><p>Status ramienia</p>');
             }
            else if(msg.topic == "presence") {
            $("div.box").text(msg.payload);
            }
          });
        //socket.emit('subscribe', {topic: 'presence'});
      
