extends layout

block content
    br
    .jumbotron
        h1=title  
    #robotPanel.panel.panel-primary
        .panel-heading Statusy
        .panel-body
            .row
                .col-md-1
                #gripperAlive.col-md-2.spacing
                #armAlive.col-md-2.spacing
                #chassisAlive.col-md-2.spacing
                #gpsAlive.col-md-2.spacing
                #gpsUsbAlive.col-md-2.spacing
        .panel-heading Chwytak
        .panel-body        
            .row
                .col-md-1
                #gripperCurrent.col-md-2.spacing
                #moveCurrent.col-md-2.spacing
                #rotateCurrent.col-md-2.spacing
                #rotatePosition.col-md-2.spacing
                #gripperVoltage.col-md-2.spacing
        .panel-heading Ramię
        .panel-body    
            .row
                .col-md-1
                #shoulderCurrent.col-md-3.spacing
                #elbowCurrent.col-md-4.spacing
                #turningCurrent.col-md-3.spacing
            .row
                .col-md-1
                #shoulderPosition.col-md-3.spacing
                #elbowPosition.col-md-4.spacing
                #turningPosition.col-md-3.spacing
        .panel-heading GPS
        .panel-body        
            .row
                .col-md-1
                #gpsLatitude.col-md-2.spacing
                #gpsLongitude.col-md-3.spacing
                #gpsTrack.col-md-3.spacing
                #gpsSpeed.col-md-2.spacing
        .panel-heading Akumulator
        .panel-body      
            .row
                .col-md-1
                #batteryMotor.col-md-5.spacing
                #batteryElectronics.col-md-5.spacing

    script.
        var socket = io();
        socket.on('mqtt', function(msg){
            if(msg.topic == "Gripper/Alive") {
                if(msg.payload == 1) { 
                    $('#gripperAlive').html('<span class="glyphicon glyphicon-ok"></span>')
                } else if(msg.payload == 0) {
                    $('#gripperAlive').html('<span class="glyphicon glyphicon-remove"></span>')
                }
                $('#gripperAlive').append('<br><p>Status chwytaka</p>');
            }
            else if(msg.topic == "Arm/Alive") {
                if(msg.payload == 1) { 
                    $('#armAlive').html('<span class="glyphicon glyphicon-ok"></span>')
                } else if(msg.payload == 0) {
                    $('#armAlive').html('<span class="glyphicon glyphicon-remove"></span>')
                }
                $('#armAlive').append('<br><p>Status ramienia</p>');
             }
             else if(msg.topic == "Chassis/Alive") {
                if(msg.payload == 1) { 
                    $('#chassisAlive').html('<span class="glyphicon glyphicon-ok"></span>')
                } else if(msg.payload == 0) {
                    $('#chassisAlive').html('<span class="glyphicon glyphicon-remove"></span>')
                }
                $('#chassisAlive').append('<br><p>Status podwozia</p>');
             }
             else if(msg.topic == "Gps/Alive") {
                if(msg.payload == 1) { 
                    $('#gpsAlive').html('<span class="glyphicon glyphicon-ok"></span>')
                } else if(msg.payload == 0) {
                    $('#gpsAlive').html('<span class="glyphicon glyphicon-remove"></span>')
                }
                $('#gpsAlive').append('<br><p>Status GPS</p>');
             }
                
             else if(msg.topic == "GpsUSB/Alive") {
             if(msg.payload == 1) { 
                    $('#gpsUsbAlive').html('<span class="glyphicon glyphicon-ok"></span>')
                } else if(msg.payload == 0) {
                    $('#gpsUsbAlive').html('<span class="glyphicon glyphicon-remove"></span>')
                }
                $('#gpsUsbAlive').append('<br><p>Status GPS USB</p>');
             }
             else if(msg.topic == "Gripper/GripperCurrent") {
                $('#gripperCurrent').text(msg.payload).append('<p>Prąd chwytaka</p>');
             }
             else if(msg.topic == "Gripper/MoveCurrent") {
                $('#moveCurrent').text(msg.payload).append('<p>Prąd nadgarstka</p>');
             }
             else if(msg.topic == "Gripper/RotateCurrent") {
                $('#rotateCurrent').text(msg.payload).append('<p>Prąd obrotu chwytaka</p>');
             }
             else if(msg.topic == "Gripper/RotatePosition") {
            $('#rotatePosition').text(msg.payload).append('<p>Pozycja chwytaka</p>');
             }
             else if(msg.topic == "Gripper/Voltage") {
             $('#gripperVoltage').text(msg.payload).append('<p>Napięcie na chwytaku</p>');
             }
             else if(msg.topic == "Arm/BarkCurrent") {
            $('#shoulderCurrent').text(msg.payload).append('<p>Prąd barku</p>');
             } 
             else if(msg.topic == "Arm/BarkPosition") {
            $('#shoulderPosition').text(msg.payload).append('<p>Pozycja barku</p>');
             }
             else if(msg.topic == "Arm/LokiecCurrent") {
            $('#elbowCurrent').text(msg.payload).append('<p>Prąd łokcia</p>');
             }
             else if(msg.topic == "Arm/LokiecPosition") {
            $('#elbowPosition').text(msg.payload).append('<p>Pozycja łokcia</p>');
             }
             else if(msg.topic == "Arm/ObrotCurrent") {
            $('#turningCurrent').text(msg.payload).append('<p>Prąd obrotu</p>');
             }
             else if(msg.topic == "Arm/ObrotPosition") {
            $('#turningPosition').text(msg.payload).append('<p>Pozycja obrotu</p>');
             }
             else if(msg.topic == "GpsUSB/LatitudeDD") {
            $('#gpsLatitude').text(msg.payload).append('&deg;<p>Szerokość geograficzna</p>');
             }
             else if(msg.topic == "GpsUSB/LongitudeDD") {
            $('#gpsLongitude').text(msg.payload).append('&deg;<p>Długość geograficzna</p>');
             }
             else if(msg.topic == "GpsUSB/Track") {
            $('#gpsTrack').text(msg.payload).append('<p>Odchylenie względem północy</p>');
             }
             else if(msg.topic == "GpsUSB/Speed") {
            $('#gpsSpeed').text(msg.payload).append('<p>Szybkość z GPS</p>');
             }
             else if(msg.topic == "Chassis/AkuMot") {
             $('#batteryMotor').text(msg.payload).append('<p>Napięcie silników');
             }
             else if(msg.topic == "Chassis/AkuEle") {
             $('#batteryElectronics').text(msg.payload).append('<p>Napięcie elektroniki</p>');
             }
             else {
                $('#robotPanel #null').text('brak danych');
             }
          });      
