extends layout

block content
    br
    .jumbotron
        h1=title  
    #robotPanel.panel.panel-primary
        .panel-heading Statusy
        .panel-body
            .row
                #null.col-md-1
                #gripperAlive.col-md-2
                #armAlive.col-md-2
                #chassisAlive.col-md-2
                #gpsAlive.col-md-2
                #gpsUsbAlive.col-md-2
        .panel-heading Chwytak
        .panel-body        
            .row
                #null.col-md-1
                #gripperCurrent.gauge.col-md-5  
                #moveCurrent.gauge.col-md-5
            .row 
                #null.col-md-1
                #rotateCurrent.gauge.col-md-5
                #gripperVoltage.gauge.col-md-5
            .row
                #null.col-md-5
                #rotatePosition.col-md-2.spacing
        .panel-heading Ramię
        .panel-body    
            .row
                #null.col-md-1
                #shoulderCurrent.gauge.col-md-3.spacing
                #elbowCurrent.gauge.col-md-4.spacing
                #turningCurrent.gauge.col-md-3.spacing
            .row
                #null.col-md-1
                #shoulderPosition.col-md-3.spacing
                #elbowPosition.col-md-4.spacing
                #turningPosition.col-md-3.spacing
        .panel-heading GPS
        .panel-body        
            .row
                #null.col-md-1
                #gpsLatitude.col-md-2.spacing
                #gpsLongitude.col-md-3.spacing
                #gpsTrack.col-md-3.spacing
                #gpsSpeed.col-md-2.spacing
        .panel-heading Akumulator
        .panel-body
            .row
                .col-md-1
                h3.col-md-5 Akumulator silnika
                .col-md-1
                h3.col-md-5 Akumulator elektroniki
            .row
                .col-md-1
                #batteryMotor.progress.col-md-5                
                    .progress-bar(role='progressbar', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100', style='width: 25%;') 25%
                .col-md-1    
                #batteryElectronics.progress.col-md-5
                    .progress-bar(role='progressbar', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100', style='width: 25%;') 25%
            .row
                    

    script.
        var socket = io();
        socket.on('mqtt', function(msg){
            switch (msg.topic){
                case "Gripper/Alive":
                    if(msg.payload == 1) { 
                                $('#gripperAlive').html('<span class="glyphicon glyphicon-ok"></span>');
                            } else if(msg.payload == 0) {
                                $('#gripperAlive').html('<span class="glyphicon glyphicon-remove"></span>');
                            }
                            $('#gripperAlive').append('<br><p>Status chwytaka</p>');
                    break;
                case "Arm/Alive":
                    if(msg.payload == 1) { 
                                $('#armAlive').html('<span class="glyphicon glyphicon-ok"></span>');
                            } else if(msg.payload == 0) {
                                $('#armAlive').html('<span class="glyphicon glyphicon-remove"></span>');
                            }
                            $('#armAlive').append('<br><p>Status ramienia</p>');
                    break;
                case "Chassis/Alive":
                    if(msg.payload == 1) { 
                                $('#chassisAlive').html('<span class="glyphicon glyphicon-ok"></span>');
                            } else if(msg.payload == 0) {
                                $('#chassisAlive').html('<span class="glyphicon glyphicon-remove"></span>');
                            }
                            $('#chassisAlive').append('<br><p>Status podwozia</p>');
                    break;
                case "Gps/Alive":
                    if(msg.payload == 1) { 
                                $('#gpsAlive').html('<span class="glyphicon glyphicon-ok"></span>');
                            } else if(msg.payload == 0) {
                                $('#gpsAlive').html('<span class="glyphicon glyphicon-remove"></span>');
                            }
                            $('#gpsAlive').append('<br><p>Status GPS</p>');
                    break;
                case "GpsUSB/Alive":
                    if(msg.payload == 1) { 
                                $('#gpsUsbAlive').html('<span class="glyphicon glyphicon-ok"></span>')
                            } else if(msg.payload == 0) {
                                $('#gpsUsbAlive').html('<span class="glyphicon glyphicon-remove"></span>')
                            }
                            $('#gpsUsbAlive').append('<br><p>Status GPS USB</p>');
                    break;
                case "Gripper/GripperCurrent":
                    gripperCurrent.refresh(parseInt(msg.payload));
                    //$('#gripperCurrent').text(msg.payload).append('<p>Prąd chwytaka</p>');
                    break;
                case "Gripper/MoveCurrent":
                    moveCurrent.refresh(parseInt(msg.payload));
                    //$('#moveCurrent').text(msg.payload).append('<p>Prąd nadgarstka</p>');
                    break;
                case "Gripper/RotateCurrent":
                    rotateCurrent.refresh(parseInt(msg.payload));
                    //$('#rotateCurrent').text(msg.payload).append('<p>Prąd obrotu chwytaka</p>');
                    break;
                case "Gripper/RotatePosition":
                    $('#rotatePosition').text(msg.payload).append('<p>Pozycja chwytaka</p>');
                    break;
                case "Gripper/Voltage":
                    gripperVoltage.refresh(parseInt(msg.payload));
                    //$('#gripperVoltage').text(msg.payload).append('<p>Napięcie na chwytaku</p>');
                    break;
                case "Arm/BarkCurrent":
                    shoulderCurrent.refresh(parseInt(msg.payload));
                    //$('#shoulderCurrent').text(msg.payload).append('<p>Prąd barku</p>');
                    break;
                case "Arm/BarkPosition":
                    $('#shoulderPosition').text(msg.payload).append('<p>Pozycja barku</p>');
                    break;
                case "Arm/LokiecCurrent":
                    elbowCurrent.refresh(parseInt(msg.payload));
                    //$('#elbowCurrent').text(msg.payload).append('<p>Prąd łokcia</p>');
                    break;
                case "Arm/LokiecPosition":
                    $('#elbowPosition').text(msg.payload).append('<p>Pozycja łokcia</p>');
                    break;
                case "Arm/ObrotCurrent":
                    turningCurrent.refresh(parseInt(msg.payload));
                    //$('#turningCurrent').text(msg.payload).append('<p>Prąd obrotu</p>');
                    break;
                case "Arm/ObrotPosition":
                    $('#turningPosition').text(msg.payload).append('<p>Pozycja obrotu</p>');
                    break;
                case "GpsUSB/LatitudeDD":
                    $('#gpsLatitude').text(msg.payload).append('&deg;<p>Szerokość geograficzna</p>');
                    break;
                case "GpsUSB/LongitudeDD":
                    $('#gpsLongitude').text(msg.payload).append('&deg;<p>Długość geograficzna</p>');
                    break;
                case "GpsUSB/Track":
                    $('#gpsTrack').text(msg.payload).append('<p>Odchylenie względem północy</p>');
                    break;
                case "GpsUSB/Speed":
                    $('#gpsSpeed').text(msg.payload).append('<p>Szybkość z GPS</p>');
                    break;
                case "Chassis/AkuMot":
                    $('#batteryMotor .progress-bar').attr('aria-valuenow', msg.payload).css('width',msg.payload+"%").text(msg.payload+"%");
                    //$('#batteryMotor').text(msg.payload).append('<p>Napięcie silników');
                    
                case "Chassis/AkuEle":
                    $('#batteryElectronics .progress-bar').attr('aria-valuenow', msg.payload).css('width',msg.payload+"%").text(msg.payload+"%");
                    //$('#batteryElectronics').text(msg.payload).append('<p>Napięcie elektroniki</p>');
                    break;
                    }
            });      
