extends layout

block content
    br
    .jumbotron
        h1=title
    .row-centered    
        #robotPanel.row
            #gripperAlive.mqtt-result.col-md-2.spacing
            .mqtt-result.col-md-2.spacing
            .mqtt-result.col-md-2.spacing
            .mqtt-result.col-md-2.spacing
            .mqtt-result.col-md-2.spacing 
        #robotPanel.row
            .mqtt-result.col-md-2.spacing
            .mqtt-result.col-md-2.spacing
            .mqtt-result.col-md-2.spacing
            .mqtt-result.col-md-2.spacing
            .mqtt-result.col-md-2.spacing
        #robotPanel.row
            .mqtt-result.col-md-2.spacing
            .mqtt-result.col-md-2.spacing
            .mqtt-result.col-md-2.spacing
            .mqtt-result.col-md-2.spacing
            .mqtt-result.col-md-2.spacing
        #robotPanel.row
            .mqtt-result.col-md-2.spacing
            .mqtt-result.col-md-2.spacing
            .mqtt-result.col-md-2.spacing
            .mqtt-result.col-md-2.spacing
            .mqtt-result.col-md-2.spacing
        #robotPanel.row
            .mqtt-result.col-md-5.spacing
            .mqtt-result.col-md-5.spacing

    script.
        var socket = io();
        socket.on('mqtt', function(msg){
            $("div.mqtt-result").text(msg);
          });
        //socket.emit('subscribe', {topic: 'presence'});
      
