doctype html(lang='pl')
head
    meta(charset='utf-8') 
    meta(http-equiv='X-UA-Compatible', content='IE=edge')    
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags 
    title Wirtualny pulpit robota mobilnego
    // Bootstrap core CSS
    link(href='stylesheets/bootstrap.css', rel='stylesheet')
    // Chartist CSS
    link(href='stylesheets/chartist.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='stylesheets/custom.css', rel='stylesheet')
    //Roboto font
    //link(href='http://fonts.googleapis.com/css?family=Orbitron:700', rel='stylesheet', type='text/css')
    // SocketIO Client
    script(src='/socket.io/socket.io.js')
    body
        nav.navbar.navbar-inverse.navbar-fixed-top
            .container
                .navbar-header
                  button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                    span.sr-only Toggle navigation            
                    span.icon-bar           
                    span.icon-bar            
                    span.icon-bar        
                  a.navbar-brand(href='/') Fupla      
                #navbar.collapse.navbar-collapse
                  ul.nav.navbar-nav
                    li.active
                      a(href='/') Główna
        .container          
            block content
    
    // Placed at the end of the document so the pages load faster
    script(src='javascripts/jquery-1.11.3.min.js')
    script(src='javascripts/bootstrap.js')
    script(src='javascripts/raphael-2.1.4.min.js')   
    script(src='javascripts/justgage.js')
    script(src='javascripts/chartist.min.js')
    script.
            /* liczniki JustGage */
            var gripperCurrent = new JustGage({
                id: "gripperCurrent",
                value: 0,
                min: 0,
                max: 4094,
                title: "Prąd chwytaka / mA",
                relativeGaugeSize: true
            });
            var moveCurrent = new JustGage({
                id: "moveCurrent",
                value: 0,
                min: 0,
                max: 4094,
                title: "Prąd nadgarstka / mA",
                relativeGaugeSize: true
            });
            var rotateCurrent = new JustGage({
                id: "rotateCurrent",
                value: 0,
                min: 0,
                max: 4094,
                title: "Prąd obrotu / mA",
                relativeGaugeSize: true
            });
            var gripperVoltage = new JustGage({
                id: "gripperVoltage",
                value: 0,
                min: 0,
                max: 40,
                title: "Napięcie nadgarstka / V",
                relativeGaugeSize: true
            });