body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #0D47ED;    
}

.navbar-inverse {
  background-color: #050C60;
}
.navbar-inverse .navbar-brand {
 color: #FFF;   
}
a {
  color: #00B7FF;
}

.container {
  color: black;
}

#robotPanel {
  text-align: center;
  font-family: "Orbitron";
  font-size: 45px;
}

#robotPanel p {
  font-family: serif;   
}

.jumbotron {
  background-color: #3E78BA;
  text-align: center;
}
.box {
  border-style : dashed;
  border-width: 1px;
  padding: 10px;
}

.spacing {
 margin: 0.2px;   
}

.row-centered {
    margin: auto;
    max-width: 1200px;
}

.box p {
 font-size:20px;   
}

.glyphicon-ok {
    color: green;
}

.glyphicon-remove {
    color: red;
}

