body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#robotPanel {
  text-align: center;
  font-family: "Orbitron";
  font-size: 45px;
}

.jumbotron {
  text-align: center;
}
.mqtt-result {
  border-style : dashed;
  border-width: 1px;
  padding: 10px;
}

.spacing {
 margin: 0.2px;   
}

.row-centered {
    margin: auto;
    max-width: 1200px;
}